<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>

</head>
<body>
    <%- include('./partials/nav') %>
    
    <div class="container">
        <div class="vertical-center">
            <img src="/404.png" alt="offline" class="img-offline">
            <p class="offline-msg-head">Unfortunately, This is nowhere!</p>
            <div class="offline-msg">
                <span>
                    go home: <a href="/">click here</a>
                </span>
            </div>
        </div>
    </div>

</body>
</html>