/* TAG OVERRIDE */
body
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(231, 231, 231);
    background-color: #343a40;
}

a
{
    text-decoration: none;
    color: rgb(231, 231, 231);
}

a:hover
{
    text-decoration: none;
    color: rgb(231, 231, 231);
}

input[type=checkbox]
{
    background-color: #1f272e;
}

/* TAG OVERRIDE END */

/* BOOTSTRAP OVERRIDE */

.alert-success
{
    color: #27ff9b;
    background-color: rgba(255,255,255,0);
    border-color: #009952;
    opacity: 75%;
}

.card
{
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 36, 46);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

.card:hover
{
    padding-left: 15px;
    cursor: pointer;
    filter: brightness(130%);
}

.btn-outline-primary
{
    color: #A7C7E7;
    border-color: #A7C7E7;
}


/* BOOTSTRAP OVERRIDE END*/


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.center
{
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

.text-center
{
    text-align: center;
}

.underline
{
    border-bottom: rgb(231, 231, 231) solid 1.5px;
    margin-right: 35%;
    padding-bottom: 5px;
}

.register-head
{
    margin-top: 40px;
}

.form-label
{
    font-weight: 500;
}

.desc-form
{
    font-size: 14px;
    opacity: 0.6;
}

form input
{
    font-weight: 400;

}

.form-control
{
    background-color: #1f272e;
    color: #f3f3f3;
    border: none;
} 

.form-control:focus
{
    color: #f3f3f3;
    background-color: #242f38;
}

.register-form
{
    border: #f3f3f3 3px dashed;
    border-radius: 20px;
    margin: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.price-group
{
    display: flex;
    flex-grow: row wrap;
}

.blog-snippet
{
    margin: 0;
    color: #888888;
}

.details-snippet
{
    opacity: 70%;
    margin-top: -10px;
    margin-right: 30%;
    font-weight: 300;
    font-size: medium;
}

.details-body
{
    text-align: justify;
    margin-top: 30px;
    font-size: 16px;
    background-color: rgb(39, 36, 46);
    padding: 20px;
    border-radius: 5px;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.card-mark
{
    position: absolute;
    height: 120%;
    width: 17px;
    background-color: rgb(83, 129, 83);
    margin-top: -15px;
    margin-left: -35px;
}

.delete-blog
{
    margin-top: -30px;
    font-size: smaller;
    float:right;
}

.edit-blog
{
    margin-top: -30px;
    margin-right: 20px;
    font-size: smaller;
    float:right;
}

.create-blog
{
    font-size: smaller;
    float:right;
}

.vertical-center 
{
    margin: 0;
}


/* OFFLINE FALLBACK PAGE */

.offline-section
{
    background-color: rgba(0, 0, 0, 0);
    min-height: 150px;
}
.img-offline
{
    display: block;
    height: 30%;
    width: 30%;
    margin: auto;
    margin-top: 100px;
}


.offline-msg-head
{
    font-weight: 600;
    font-size: 26pt;
    color: #f3f3f3;
    text-align: center;
}

.offline-msg
{
    color: #b8b8b8;
    font-size: 13pt;
    text-align: center;
}

@media (max-width:800px) {
    .img-offline
    {
        width: 50%;
        height: 50%;
    }

    .offline-msg-head
    {
        font-size: 17pt;
    }

    .offline-msg
    {
        padding: 0 30px 0 30px;
        font-size: 11pt;
    }

}